--- 
- name: Update cache
  apt:
    update_cache: yes

- name: Upgrade all packages
  apt:
    upgrade: dist

- name: Remove unused packages
  apt:
    autoremove: yes

- name: Reboot server if required
  reboot:
    msg: "rebooting after patching"
    reboot_timeout: 600

